.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.card{
  border-radius: .50rem;
  box-shadow: 0 0.3rem 3rem rgba(0,0,0,.4)!important;
}

.thumbNail{
  height: 225px;
  width: 100%;
  background-position: center;
  background-size: cover; 
  border-radius: .50rem .50rem 0 0;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 50rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
